.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  min-height: calc(100vh - 5rem);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: inherit;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
  z-index: -1;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  z-index: -1;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.title {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
}

.input {
  resize: none;
  height: 12rem;
  padding: 0.5rem;
}

.btn_container {
  display: flex;
  flex-direction: column;
}
