@import "mixins";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  min-height: calc(100vh - 5rem);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: inherit;
  width: 100%;

  &::before {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
    z-index: -1;
  }

  &::after {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
  }

  &::after,
  &::before {
    content: "";
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
    z-index: -1;
  }
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.title {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;

  @include tablet-min {
    justify-content: space-evenly;
  }
  @include desktop-min {
    justify-content: center;
    gap: 5rem;
  }
}

.key-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  padding: 1rem 0;
}

.label-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
}

.input {
  resize: none;
  height: 12rem;
  padding: 0.5rem;

  @include tablet-min {
    width: 25rem;
  }

  @include desktop-min {
    min-width: 40rem;
    height: 15rem;
  }
}

.menu {
  display: none;
  width: fit-content;
  @include desktop-min {
    display: block;
  }
}

.card-menu {
  padding: 1rem 2.5rem;
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);

  h2 {
    margin-bottom: 0.5rem;
  }

  span {
    display: inline-block;
    transition: transform 200ms;
  }

  p {
    display: none;
  }
}

.btn {
  padding: 1rem;

  @include desktop-min {
    width: 13rem;
  }
}

.key {
  height: 4rem;
  resize: none;
}

.affine {
  resize: none;
  width: 8rem;
  padding: 0.5rem;
}

.file-upload {
  border: 1px dashed white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
  cursor: pointer;
  p {
    text-align: center;
    padding-bottom: 1rem;
  }
  @include desktop-min {
    width: 13rem;
    height: 13rem;
  }
}
